.container{
    width: 800px;
    height: 650px;
    background-color: #befaa2;
    margin-left: 60px;
}

.register{
    height: calc(100vh - 50px);
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: row wrap;
    flex: 500px;
    justify-content: flex-start;
    /*background-color: white;*/
    font-family: sans-serif;
    align-items: center;
    margin-top: 80px;
    margin-left: 90px;
}
.RegTitle{
    font-size: 20px;
    font-weight: bold;
    margin-left: 190px;
}

.regForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.regForm>label{
    margin: 10px 0;
    margin-top: 30px;
}

.regForm>label1{
    margin: 10px 0;
    margin-left: 350px;
    margin-top: -73px;
}

.regInput{
    padding: 10px;
    background-color: white;
    border-color: antiquewhite;
    width: 250px;
    height: 20px;
}
.regInput1{
    padding: 10px;
    background-color: white;
    border-color: antiquewhite;
    width: 250px;
    height: 20px;
    margin-left: 350px;
}
.signupButton1{
    margin-top: 50px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-left: 240px;
    background-color: #039617;
    width: 100px;
    height: 35px;
}
