.emailVerification{
    height: calc(100vh - 50px);
    background-color: white;
    margin-top: 150px;
}

.title{
    margin-left: 600px;
    font-size: 25px;
    font-family: sans-serif;
    color: black;
    font-weight: bold;
}

.title2{
    margin-left: 480px;
    font-size: 20px;
    font-family: sans-serif;
    color: black;
    font-weight: bold;
}

.button{
 margin-top: 100px;
}

.verifyButton{cursor: pointer;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-left: 650px;
    background-color: #039617;
    width: 100px;
    height: 35px;
}